@media (max-width:1052px) {

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

    }
}

@media (max-width:713px) {

    .nav {
       
        flex-direction: row;
        justify-content: space-between;

    }

    .nav_list {
        display: none;
    }

}




@media (min-width:713px) {


    .menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}